<a href="https://colab.research.google.com/github/AnjaliR7/python/blob/main/co1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Enter 2 lists of integers. Check (a) whether list are of same value

Add ‘ing’ at the end of a given string. If it already ends with ‘ing’, then add ‘ly’

In [ ]:
number = int(input ("Enter the number: "))
# We are using "for loop" to iterate the multiplication 10 times
print ("The Multiplication Table of: ", number)
for count in range(1, 11):
   print (number, 'x', count, '=', number * count)

Enter the number: 5
The Multiplication Table of:  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
st=input("enter a string")
if st.endswith("ing"):
  n=st+"ly"
else:
  n=st+"ing"
print(n)

enter a stringplaying
playingly

In [ ]:
lst1=[1,2,3,4,5]
lst2=[6,4,2,7,9]
if len(lst1)==len(lst2):
        print("same")
else:
        print("not same")

same

Enter 2 lists of integers. (b) whether list sums to same value

In [ ]:
lst1=[1,2,3,4,5]
lst2=[4,2,3,6,7]
print("sum of lst1 is",sum(lst1))
print("sum of lst2 is",sum(lst2))
if sum(lst1)==sum(lst2):
  print("sum of list 1 and 2 are same")
else:
  print("sum of list 1 and 2 are different")

sum of lst1 is 15
sum of lst2 is 22
sum of list 1 and 2 are different

mm

In [ ]:
def multiply_numbers(list):
   prod = 1
   for i in list:
      prod = prod*i
   return prod
given_list = [2,1,3]
print('The list is:',given_list)
print("The product is: ")
print(multiply_numbers(given_list))

The list is: [2, 1, 3]
The product is:
6

Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.

In [ ]:
n=int(input("enter the no. of elements:"))
list=[]
for i in range(n):
  a=int(input("enter the integers:"))
  if a<100:
    list.append(a)
  else:
    list.append("over")
print(list)

enter the no. of elements:5
enter the integers:111
enter the integers:50
enter the integers:400
enter the integers:99
enter the integers:200
['over', 50, 'over', 99, 'over']

Enter 2 lists of integers.  (c) whether any value occur in both

In [ ]:
lst1=[1,2,3,4,5]
lst2=[2,6,7,8,9]
f=0
for i in lst1:
  for j in lst2:
    if i==j:
      f=1
      print(i,"is present in both")
if f==0:
  print("not present")

2 is present in both

Print out all colors from color-list1 not contained in color-list2.

In [ ]:
Write lambda functions to find area of square, rectangle and triangle.

In [ ]:
n=int(input("enter the side of a square:"))
areasquare=lambda n:n*n
print("area of square=",areasquare(n))
n1=int(input("enter the length of rectangle:"))
n2=int(input("enter the breadth of rectangle:"))
arearect=lambda n1,n2:n1*n2
print("area of rectangle=",arearect(n1, n2))
l=int(input("enter the length of triangle:"))
b=int(input("enter the breadth of triangle:"))
areatri=lambda l,b:0.5*l*b
print("area of triangle=",areatri(l,b))

enter the side of a square:5
area of square= 25
enter the length of rectangle:8
enter the breadth of rectangle:5
area of rectangle= 40
enter the length of triangle:7
enter the breadth of triangle:2
area of triangle= 7.0

Print out all colors from color-list1 not contained in color-list2.

In [ ]:
list1=set(["green","blue","red","white","violet"])
list2=set(["green","violet"])
print(list1.difference(list2))

{'blue', 'white', 'red'}

Sort dictionary in ascending and descending order.

In [ ]:
list1={1:"apple",2:"orange",3:"cherry",4:"mango"}

In [ ]:
t1={"name":"anjali","age":21,"height":164}
t2={"mobilenumber":1234567891}
print(t1|t2)
m={**t1,**t2}
print(m)
t1
print(t1.keys())
print(t1.values())
print(t1.items())
print(t1 ["age"])
t1.update({"name1":"anirudh"})
t1

{'name': 'anjali', 'age': 21, 'height': 164, 'mobilenumber': 1234567891}
{'name': 'anjali', 'age': 21, 'height': 164, 'mobilenumber': 1234567891}
dict_keys(['name', 'age', 'height'])
dict_values(['anjali', 21, 164])
dict_items([('name', 'anjali'), ('age', 21), ('height', 164)])
21

{'name': 'anjali', 'age': 21, 'height': 164, 'name1': 'anirudh'}

#co1.18.Merge two dictionaries.

In [ ]:
d1={}

In [ ]:
d1={"a":1,"b":2}
d2={"b":3,"c":4}
d1.update({"b":20})
d1.update({"z":20})
sorted(d1.keys())
print(dict(sorted(d1.items())))

{'a': 1, 'b': 20, 'z': 20}

In [ ]:
d1.items

#co1.17.Sort dictionary in ascending and descending order.

In [ ]:
d1={"red":1,"green":4,"yellow":3,"violet":2}
print("Aescending order : ",dict(sorted(d1.items())))
print("Descending order : ",dict(sorted(d1.items(), reverse=True)))

Aescending order :  {'green': 4, 'red': 1, 'violet': 2, 'yellow': 3}
Descending order :  {'yellow': 3, 'violet': 2, 'red': 1, 'green': 4}

#co1.12.Accept a file name from user and print extension of that

In [ ]:
f_name=input("enter a file name")
f_ext=f_name.split(".")
print ("extension:",f_ext[-1])

enter a file namearray.c
extension: c

#co1.14.Accept an integer n and compute n+nn+nnn.

In [ ]:
n=int(input("enter a number:"))
n1=n
n2=n*n
n3=n*n*n
print(n1+n2+n3)

enter a number:5
155

#co1.16.Create a single string separated with space from two strings by swapping the character at position 1.

In [ ]:
str1=input("enter a string")
str2=input("enter a string")
str3=str2[0]+str1[1:]+""+str1[0]+str2[1:]
print ("swapping string",str3)

enter a stringanjali
enter a stringraji
swapping string rnjaliaaji

#co1.19Find gcd of 2 numbers.

In [ ]:
import math
n1=int(input("enter the first number:"))
n2=int(input("enter the second number:"))
print("GCD:",math.gcd(n1,n2))

enter the first number:8
enter the second number:6
GCD: 2

#co1.20From a list of integers, create a list removing even numbers.

In [ ]:
list=[1,2,3,4,5,6]
print("original list is",list)
odd=[i for i in list if i%2!=0]
print("list after removing even number are:",odd)

original list is [1, 2, 3, 4, 5, 6]
list after removing even number are: [1, 3, 5]