<a href="https://colab.research.google.com/github/AnjaliR7/python/blob/main/co2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Find the sum of all items in a list

#co2.3Find the sum of all items in a list

In [ ]:
n=int(input("enter the size of list:"))
l=[int(input()) for i in range(n)]
print("sum:",sum(l3))

enter the size of list:5
10
0
30
2
3
sum: 45

#co2.4Generate a list of four digit numbers in a given range with all their digits even and the number is a perfect square.

In [ ]:
res=[]
for i in range(1000,10000):
    if all(int(x)%2==0 for x in str(i)):
        if int(i**0.5)**2==i:
            res.append(i)
print("List of numbers : ",res)

List of numbers :  [4624, 6084, 6400, 8464]

#co2.5.Display the given pyramid with step number accepted from user. Eg: N=4
1
2 4
3 6 9
4 8 12 16

In [ ]:
n=int(input("Enter the no of rows : "))
k=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(k,end=" ")
    k+=1
  print("\n")

Enter the no of rows : 2
1

2 3

6. Count the number of characters (character frequency) in a string.

In [ ]:
str=input("Enter a line : ")
l=[]
l=str.split();
wc=[l.count(i) for i in l]
print(dict(zip(l,wc)))